#product-list {
    margin-left: 1em;

    .list-nav {
        span {
            margin: 0 1em;
        }
    }

    li {
        overflow: hidden;
        margin: 1em 0em;
        height: 250px;
        width: 60vw;

        .fa-heart {
            position: absolute;
            bottom: 1em;
            right: 1em;
            font-size: 1.5em;
        }

        .fa-heart.active {
            color: red;
            animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        h2,
        p,
        span {
            color: black;
        }

        img {
            margin-right: 1em;
            float: left;
            height: 100%;
            max-width: 30%;
        }
    }
}
@keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }