<template name="reviewform">
    <form class="display-column">
        <textarea placeholder="{{_ 'Write your review'}}" name="review" class="btn btn-primary"
            style="width: 50vw;"></textarea>
        <br>
        <div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="stars" type="radio" id="inlineCheckbox1" value="1">
                <label class="form-check-label" for="inlineCheckbox1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="stars" type="radio" id="inlineCheckbox2" value="2">
                <label class="form-check-label" for="inlineCheckbox2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="stars" type="radio" id="inlineCheckbox2" value="3">
                <label class="form-check-label" for="inlineCheckbox2">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="stars" type="radio" id="inlineCheckbox2" value="4">
                <label class="form-check-label" for="inlineCheckbox2">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="stars" type="radio" id="inlineCheckbox2" value="5">
                <label class="form-check-label" for="inlineCheckbox2">5</label>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">{{_ 'Send'}}</button>
        <br>
        <br>
    </form>
</template>